<div ng-controller="ListaController">
	<h3>Lista de Tarefas</h3>
  <form tb-form>
      Busca: <input type="text" ng-model="busca">
  </form>
  
   <!--adicionando o pipe eu crio um filtro para relaizar a expressao, no caso utilizando o conteudo do model busca(o input)-->
    <ul ng-repeat="tarefa in tarefas | filter:busca">
        <li>
            {{tarefa.prioridade}} - {{tarefa.nome}} - <a href="" ng-click="remover($index)">Remover</a>
        </li>
    </ul>
    <hr>
    <form tb-form>
        Nome: <input type="text" ng-model="t.nome">
        <!-- quando ponho um ponto apos o nome do model quer dizer que estopu me referindo a propiedade de um obejto -->
        Prioridade: <input type="text" ng-model="t.prioridade">
        <button ng-click="adicionar(t)" tb-btn="default" >Adicionar</button>
    </form>
</div>